/* 초기화 */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

/* body */

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    display: block;
}

/* 헤더 */

header {
    width: 100%;
    height: 126.38px;
    background: linear-gradient(to bottom,rgba(16,24,32,.8),rgba(16,24,32,0)); 
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: .4s;
}

div.header {
    max-width: 1500px;
    padding: 0 20px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
}

/* 로고 */

header img#logo {
    height: 7em;
    width: 26.7em;
    max-width: 300px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin: .67em 0;
    transition: .4s;
}

header img#logo2 {
    width: 20%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    transition: .4s;
}

/* 메뉴 */

nav.main {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
    margin: 0 0 0 120px;
    padding: 0;
}

ul {
    position: relative;
    color: #f3f3f3;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 700;
    display: flex;
    margin: 0;
    float: left;
    text-align: right;
    justify-content: flex-end;
    padding: 0;
    height: 100%;
    align-items: flex-end
}

li {
    list-style: none;
    margin: 0 20px;
    padding: 0;
}

li.shop {
    float: left;
    margin-right: -20px;
}

ul img#shop {
    float: left;
    margin-right: 20px;
}

header img#shop {
    position: relative;
    height: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px 50px 0px 20px;
    display: block;
} 

header img#signup {
    position: relative;
    height: 17px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 0 4px 0;
    display: block;
} 

/* Page */

div.page {
    display: block;
}


/* 메인 비디오 */

div.video {
    width: 100%;
    height: 64em;
    overflow: hidden;
    position: relative;
}

video {
    display: block;
    width: 100%;
    overflow: hidden;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}


/* 뉴스 박스 */

div.news-box {
    max-width: 1500px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

section.blog {
    padding: 11px 9px 7px;
    display: flex;
}

div.one {
    flex-grow: 1;
    flex-basis: 100px;
    margin: 9px;
    width: 100%;
    float: left;
}

img.one {
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 0;
    margin-bottom: 1em;
}

h1.one {
    font-size: 2em;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #3f464c;
    margin-bottom: 0;
    width: 342.5px;
    margin: 0;
}


/* 슬라이드 박스 */

/* box2 */
.box2 {
  max-width: 100%;
  position: relative;
  margin: 10px 0 0 0;

}

/* 이미지 숨기기 */
.mySlides {
  display: none;
}


/* text */


div.text>h1 {
    padding: 60px 0 0 20px;
    font-size: 6em;
    line-height: 1.3em;
    max-width: 20em;
    margin-bottom: 0;
    position: absolute;
    color: #f3f3f3;
    margin: .67em 0;
    font-weight: bold;
    width: 600px;
    margin-left: 0;
}

div.text>p {
    padding: 60px 0 0 20px;
    font-size: 2em;
    line-height: 1.6em;
    margin: .4em 0 1em;
    max-width: 27em;
    color: #f3f3f3;
    position: absolute;
    top: 280px;

}

div.more {
    padding: 60px 0 0 20px;
    position: absolute;
    top: 380px

}

div.more>a {
    outline: 2px solid;
    font-size: 16px;
    color: #f3f3f3;
    letter-spacing: 2.08px;
    line-height: 1.1875em;
    font-weight: 900;
    text-transform: uppercase;
    min-width: 10.7em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: absolute;
    padding: 1.3em .8em 1.1em
    }

    /* 화살표 */
.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -39px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 0 0 0;
    user-select: none;
  }
  
  /* 왼쪽 화살표 위치 */
  .prev {
      right: 60px;
      border-radius: 3px 0 0 3px;
  }
  
  /* 오른쪽 화살표 오른쪽에 두기 */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
/* 페이지 */
div.numbertext {
    font-size: 14px;
    color: #fff;
    vertical-align: super;
    padding: 8px 12px;
    position: absolute;
    bottom: -30px;
    right: 28px;
}


/* 슬라이드 하단 */
div.slide-b {
    background-color: #3f464c;
    height: 47px;
    margin: -1px 0 0 0;
}


img.pause {
    width: 13px;
    margin: 10px 0 0 20px;
}

/* BOX#- 동영상 박스 */

section.box3 {
font-size: 10px;
-webkit-text-size-adjust: 100%;
line-height: 1.2;
color: #101820;
font-family: axiforma,Arial,Helvetica,sans-serif;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
letter-spacing: 0;
padding: 9px 18px;
display: flex;
}

div.video {    
    background-image: url(https://img.youtube.com/vi/OEVWuYVUsBs/maxresdefault.jpg);
    height: 720px;

}

div.video>h1 {
    position: absolute;
    bottom: 1.6em;
    left: 1.5em;
    color: #f3f3f3;
    font-size: 4em;
    letter-spacing: .01125em;
    line-height: 1.3em;
    margin: 0;
    max-width: 18em;
    width: 700px;
}

/* explore 박스 */

section.box4 {
    height: 613.6px;
    background-color: #f3f3f3;
    margin-top: 0px;
    padding: .8em 6.2em 5.2em;
}

section.box4>h1 {
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
    color: #101820;
    margin-top: 3.3em;
    width: 100%;
    left: 0;
    right: 0;
    font-family: axiforma,Arial,Helvetica,sans-serif;
}




div.box4 {
    max-width: 1500px;
    padding: 0 20px;
    margin: 10px auto;
    box-sizing: border-box;
}

div.explore {
    padding: 11px 9px 7px;
    display: flex;
}


div.fourth {
    flex-grow: 1;
    flex-basis: 100px;
    margin: 9px;
    width: 100%;
    float: left;
    height: 345px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

div.enemy {
    z-index: 1;
    background-color: #000;
    padding: .56em .7em;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 2px;
    color: #fff;
    font-family: axiforma,Arial,Helvetica,sans-serif;
}

div.Doctor {
    z-index: 1;
    background-color: #000;
    padding: .56em .7em;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: 2px;
    color: #fff;
    font-family: axiforma,Arial,Helvetica,sans-serif;
}

div.fourth>img {
    vertical-align: middle;
    position: absolute;
    overflow: hidden;
    height: 345px;
    margin: 0;
    margin-bottom: 1em;
    object-fit: cover;
}

div.keep {
    text-align: center;
}

a.keepex {
    box-sizing: border-box;
    background: transparent;
    outline: 2px solid;
    font-size: 16px;
    letter-spacing: 2.08px;
    line-height: 1.1875em;
    font-weight: 900;
    min-width: 10.7em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #0085ad;
    padding: 1em 1.9em .6em;
    outline-color: #0085ad;
}

/* sign up 박스 */
section.box5 {
    font-style: normal;
    align-items: center;
    height: 402.39px;
    padding: 30px 0 0 0;
}

div.signup-icon {
    text-align: center;
    padding: 50px 0 0 0;
    margin-top: 2.8em;
}

img.signup {
    height: 30px;
    align-self: center;
}

div.signup {
    text-align: center;
    line-height: 1.4em;
}

h1.signup {
    -webkit-text-size-adjust: 100%;
    color: #101820;
    font-family: axiforma,Arial,Helvetica,sans-serif;
    text-align: center;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    margin: .67em 0;
    font-size: 3em;
    letter-spacing: .01133em;
    line-height: 1.4em;
    font-weight: 700;
    margin-top: 66px;
    margin-bottom: -.2em;
}

div.signup>p {
    -webkit-text-size-adjust: 100%;
    color: #101820;
    font-family: axiforma,Arial,Helvetica,sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
    font-size: 1.6em;
    line-height: 1.75em;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

a.buttonforsignup {
    color: #0085ad;
    outline: 0;
    font-size: 16px;
    letter-spacing: .208em;
    line-height: 1.9em;
    text-align: center;
    font-weight: 800;
    display: inline-block;
    vertical-align: middle;
}





/* 하단 */
/* 노랑 */
section.box6 {    
    background-image: url(https://www.doctorwho.tv/brand/assets/images/watch-component/img-yellowbg.jpg);
    height: 387px;
    background-size: cover;
}

div.box6 {
    max-width: 1500px;
    padding: 9.4em 19px 8.8em;
    margin: 0 auto;
}

div.box6main {
    flex-basis: 100%;
    float: left;
    margin: 0 9px;
    width: 724.656px;
}

div.box6main>h1 {
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: .6em;
    color: #101820;
}

div.box6main>h2 {
    font-size: 6em;
    line-height: 1.3em;
    font-weight: 700;
    margin: 0;
    margin-bottom: -.25em;
    color: #101820;
}

div.box6main>h3 {
    font-size: 2em;
    line-height: 1.5;
    color: #3f464c;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.box6blank {
    float: left;
    margin: 0 9px;
    width: 379px;
    height: 205px;
    background-color: transparent;
}

div.box6sub {
    float: left;
    margin: 0 9px;
    height: 205px;
    width: 304.34px;
}

div.box6sub>h1 {
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: .6em;
    color: #101820;
}

div.box6sub>h3 {
    font-size: 2em;
    line-height: 1.5;
    color: #3f464c;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* footer */

section.footer {
    background-color: #101820;
    height: 216px;
}

div.footer {
    max-width: 1500px;
    padding: 56px 20px 0 20px;
    margin: auto;
}

img#footer-logo {
    width: 133px;
    float: left;
    margin: 0 9px;
}

nav.footer-menu1 {
    color: #d9d9d6;
    font-size: 1.3em;
    line-height: 1.38462em;
    float: left;
    padding-left: 280px;
}

nav.footer-menu1>span {
    margin: 0 0 0 20.8px;
}

nav.footer-menu2 {
    color: #d9d9d6;
    font-size: 1.3em;
    line-height: 1.38462em;
    float: left;
}

nav.footer-menu2>a {
    margin: 0 4.2em 0 4em;
}

nav.footer-menu3 {
    float: left; 
}

nav.footer-menu3>a {
    margin: 0 0 0 10px;
}

nav.footer-menu3>a>img {
    width: 24px;
}

div.row-lower {
    width: 1500px;
    padding-top: 1.9em;
    padding-bottom: 2.8em;
    margin: 0 -17.5px;
    line-height: 1.4;
    opacity: .5;
    text-align: justify;
    display: flex;
}

div.lower1 {
    margin: 0 17.5px;
    flex-basis: 33.33333%;
}

div.lower1>p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f3f3f3;
    
}

div.lower2 {
    margin: 0 17.5px;
    flex-basis: 33.33333%;
}

div.lower2>p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f3f3f3;
}

div.lower3 {
    margin: 0 17.5px;
    flex-basis: 33.33333%;
}

div.lower3>p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f3f3f3;
}